<div id="filterSection">
  list-restaurants works!
</div>

<div id="scrollSection">
  <div class="sectionResto" *ngFor="let resto of listResto">
    <div  class="sectionTextContent">
      <div  class="sectionHeader">
        <h3 class="title">{{resto.name}}</h3>
        <div class="sectionRating">
          <span class="ratingScore">{{resto.rating}}</span>
          <ol class="ratingStars">
            <li class="ratingStar" [ngStyle]="{'background-image':'url('+ star + ')'}"></li>
            <li class="ratingStar" [ngStyle]="{'background-image':'url('+ star + ')'}"></li>
            <li class="ratingStar" [ngStyle]="{'background-image':'url('+ star + ')'}"></li>
            <li class="ratingStar" [ngStyle]="{'background-image':'url('+ star + ')'}"></li>
            <li class="ratingStar" [ngStyle]="{'background-image':'url('+ star + ')'}"></li>
          </ol>
          <span class="ratingNumber">{{resto.user_ratings_total}}</span>
        </div>
      </div>
      <div  class="sectionDescription">{{resto.vicinity}}</div>
    </div>
    <div  class="sectionImageContent"></div>
  </div>
</div>



<app-details></app-details>