<p>
  list-restaurants works!
</p>
<div *ngFor="let resto of listResto">{{resto.restaurantName}}</div>
<div class="sectionResto" *ngFor="let resto of listResto">
  <div class="sectionTextContent">
    <div class="sectionHeader">
      <h3 class="title">{{resto.restaurantName}}</h3>
      <div class="sectionRating">
        <span class="ratingScore">score moyen</span>
        <ol class="ratingStars">
          <li class="ratingStar"></li>
          <li class="ratingStar"></li>
          <li class="ratingStar"></li>
          <li class="ratingStar"></li>
          <li class="ratingStar"></li>
        </ol>
        <span class="ratingNumber">nb avis</span>
      </div>
    </div>
    <div class="sectionDescription">{{resto.address}}</div>
  </div>
  <div class="sectionImageContent"></div>
</div>
<app-details></app-details>