@import '../app.component.scss';

#filterSection {
    height: 20vh;
    background-color: $primary700;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.scrollSection {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 80vh;
    
    .sectionResto{
        border-bottom: 1px solid $spacer;
        display: grid;
        grid-template-columns: 75% 25%;
        margin-right: 8px;
        .sectionTextContent, .sectionImageContent {
            margin: 8px 0px;
        }
        .sectionTextContent{
            .sectionHeader{
                .title{
                    margin: 8px 0px 0px 8px;
                    opacity: 0.8;
                }
                .sectionRating{
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    .ratingScore, .ratingStars, .ratingNumber{
                        margin-left: 8px;
                    }
                    .ratingScore, .ratingStars, .ratingStar, .ratingNumber{
                        display: inline-block;
                    }
                    .ratingScore{
                        color: $secondary500;
                    }
                    .ratingStars{
                        list-style: none;
                        padding: 0;
                        .ratingStar{
                          height: 25px;
                          width:25px;
                          //border: #888 solid 1px;
                        }
                    }
                    .ratingNumber{
                        color: $grey;
                        opacity: 0.7;
                    }
                }
            }
            .sectionDescription{
                margin: 0px 0px 8px 8px;
                color: $grey;
    
            }
        }
        .sectionImageContent{
            margin: 8px 0px 0px 8px;
            height: 90px;
            width: 80px;
            //border: solid black 1px;
        }
        
    }
}


