<div id="filterSection">
  list-restaurants works!
</div>

<div id="scrollSection">
  <div class="sectionResto" *ngFor="let resto of listResto">
    <div  class="sectionTextContent">
      <div  class="sectionHeader">
        <h3 class="title">{{resto.restaurantName}}</h3>
        <div class="sectionRating">
          <span class="ratingScore">4.5</span>
          <ol class="ratingStars">
            <li class="ratingStar" [ngStyle]="{'background-image':'url('+ star + ')'}"></li>
            <li class="ratingStar" [ngStyle]="{'background-image':'url('+ star + ')'}"></li>
            <li class="ratingStar" [ngStyle]="{'background-image':'url('+ star + ')'}"></li>
            <li class="ratingStar" [ngStyle]="{'background-image':'url('+ star + ')'}"></li>
            <li class="ratingStar" [ngStyle]="{'background-image':'url('+ star + ')'}"></li>
          </ol>
          <span class="ratingNumber">(3000)</span>
        </div>
      </div>
      <div  class="sectionDescription">{{resto.address}}</div>
    </div>
    <div  class="sectionImageContent"></div>
  </div>
</div>



<app-details></app-details>