<h1 mat-dialog-title>Ajouter un restaurant</h1>
<div mat-dialog-content>
  <p>Renseignez les champs suivant</p>
  <mat-form-field>
    <input matInput placeholder="Votre identifiant">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Attribuez une note</mat-label>
    <mat-select>
      <mat-option *ngFor="let i of index" value="{{i}}">{{i}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Votre commentaire"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Annuler</button>
  <button mat-button >Valider</button>
</div>