<div id="filterSection">
    <span>Header sidebar</span>
    <button class="back" 
        [style.display]="isShowDetails ?'block' :'none'" 
        (click)="toggleListDetail()">Retourner à la liste
    </button>
</div>
<app-list-restaurants 
    [listResto]="listResto"
    (currentRestoChange)="onCurrentRestoChange($event)" 
    [style.display]="isShowDetails ?'none' :'block'">
</app-list-restaurants>
<app-details 
    [selectedResto]='selectedResto'
    [style.display]="isShowDetails ?'block' :'none'">
</app-details>