<div id="header">
    <div id="filterSection" [style.display]="isShowDetails ?'none' :'block'">
        <mat-form-field>
            <mat-label>Note min.</mat-label>
            <mat-select [(value)]="selectedMin" (selectionChange)="onMinRateSelectionChange($event)">
                <mat-option value="noFilter">Aucun filtre</mat-option>
                <mat-option *ngFor="let i of index" value="{{i}}">{{i}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Note max.</mat-label>
            <mat-select [(value)]="selectedMax" (selectionChange)="onMaxRateSelectionChange($event)">
                <mat-option value="noFilter">Aucun filtre</mat-option>
                <mat-option *ngFor="let i of index" value="{{i}}">{{i}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="disabled"
            (click)="discardFilter()"> Réinitialiser le filter
        </button>
    </div>
    <button mat-flat-button color="primary" [style.display]="isShowDetails ?'block' :'none'" (click)="backToList()">
        Retourner à la liste
    </button>
</div>
<div id="filterError" [style.display]="isShowError ?'block' :'none'" >
    <h3>DESOLE...</h3>
    <p>Aucun restaurant ne correspond à votre rechercher</p>
</div>
<app-list-restaurants
    [style.display]="isShowDetails ?'none' :'block'">
</app-list-restaurants>
<app-details 
    [style.display]="isShowDetails ?'block' :'none'">
</app-details>