<agm-map 
[latitude]="userLat" 
[longitude]="userLong" 
[zoom]="zoom" 
[disableDefaultUI]="false"
[zoomControl]="false">
  <agm-marker 
  [latitude]="userLat" 
  [longitude]="userLong"
  [iconUrl]="userMarker"></agm-marker>
  <agm-marker *ngFor="let resto of listResto, let i of index"
  [latitude]="resto.geometry.location.lat" 
  [longitude]="resto.geometry.location.lng"
  [iconUrl]="restoMarker">
    <agm-info-window>
        <h3 class="title">{{resto.name}}</h3>
        <span class="ratingScore">{{resto.rating}}</span>
    </agm-info-window>
  </agm-marker>
</agm-map>
