// basic colors
$grey:#8c8c8c;
$spacer:#c2c2c2;
//swatch n°1
$primary700 : rgb(30, 136, 229);
$primary800: rgb(0, 75, 160);
$primary600:rgb(99, 164, 255);
$secondary500: rgb(233, 30, 99);
// swatch n°2
$blueGrey: #424242;
$pink: #e63462;
$orange: #fe5f55;
$lightGreen: #c7efcf;
$lightYellow: #eef5db;


.wrapper {
    display: grid;
    grid-template-columns: 21% 79%;
    app-map {
        height: 100vh;
    }
}