<div *ngIf="selectedResto">
  <div class="scrollSection">
      <div class="detailHeaderSection" >
        <div class="detailHeaderImage" [ngStyle]="{'background-image':'url('+ getUrlPhotoRequest(selectedResto) + ')'}">
        </div> 
        <div class="detailHeaderResume">
          <div  class="sectionHeader">
            <h3 class="title">{{selectedResto.name}}</h3>
            <div class="sectionRating">
              <span class="ratingScore">{{selectedResto.rating}}</span>
              <ol class="ratingStars">
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 0, selectedResto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 1, selectedResto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 2, selectedResto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 3, selectedResto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 4, selectedResto.name) + ')'}"></li>
              </ol>
              <span class="ratingNumber">{{selectedResto.user_ratings_total}}</span>
            </div>
          </div>
        </div>
      </div> 
      <div id="adressSection">
        <!--<img src="../../assets/img/1x/outline_map_black_48dp.png" alt="phoneIcon">-->
        <span id="adressInfo">{{selectedResto.vicinity}}</span>
      </div>
      <div id="userReviewSection">
        <button>Rédiger un avis</button>
        <h3 class="reviewTitle">Tous les avis</h3>
        <div class="reviews" *ngFor = "let detail of details" ><!--ici ngFor let review of listReview-->
          <div class="authorInfo">
            <img src={{detail.author_url}} alt="authorAvatar">
            <p class="authorName">Nom de l'auteur : {{detail.author_name}}</p>
            <!--
              recuperer l'avis de l'utilisater et set le bkgImg a partir de cette valeur la
            <ol class="ratingByUser">
              <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 0, selectedResto.name) + ')'}"></li>
              <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 1, selectedResto.name) + ')'}"></li>
              <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 2, selectedResto.name) + ')'}"></li>
              <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 3, selectedResto.name) + ')'}"></li>
              <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 4, selectedResto.name) + ')'}"></li>
            </ol>
          -->
            <span class="timeDescription">posté il y a: {{detail.relative_time_description}}</span>
            <p class="authorReview"> {{detail.text}}
            </p>
          </div>
        </div>
      </div>
  </div>
  
</div>

<!--<div *ngIf="resto">
    <div class="detailHeaderSection" >
      <div class="detailHeaderImage" [ngStyle]="{'background-image':'url('+ getUrlPhotoRequest(resto) + ')'}"></div>
      <div class="detailHeaderResume">
          <div  class="sectionHeader">
            <h3 class="title">NOM DU RESTO : {{resto.name}}</h3>
            <div class="sectionRating">
              <span class="ratingScore">Note moyenne : {{resto.rating}}</span>
              <ol class="ratingStars">
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(resto.rating, 0, resto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(resto.rating, 1, resto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(resto.rating, 2, resto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(resto.rating, 3, resto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(resto.rating, 4, resto.name) + ')'}"></li>
              </ol>
              <span class="ratingNumber">Nb avis : {{resto.user_ratings_total}}</span>
            </div>
          </div>
      </div>
      <button class="back" (click)="showList()">Retourner à la liste</button>
    </div>
    
    <div class="scrollSection">
        <div class="detailInfoSection">
          <div class="detailInfoCell">
            <img src="" alt="">
            <span>Adresse : {{resto.vicinity}}</span>
          </div>
        </div>
        
        <div class="detailReview">
          <div class="detailReviewResume">
            <h3 class="detailReviewResumeTitle">RESUME DES AVIS</h3>
            <div class="detailReviewResumeGraphDisplay">
            
              
              
            </div>
            <div class="detailReviewResumeAverage">
                <span class="ratingScore">Note moyenne: {{resto.rating}}</span>
                <ol class="ratingStars">
                  <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(resto.rating, 0, resto.name) + ')'}"></li>
                  <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(resto.rating, 1, resto.name) + ')'}"></li>
                  <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(resto.rating, 2, resto.name) + ')'}"></li>
                  <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(resto.rating, 3, resto.name) + ')'}"></li>
                  <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(resto.rating, 4, resto.name) + ')'}"></li>
                </ol>
                <span class="ratingNumber">Nb Avis : {{resto.user_ratings_total}}</span>
            </div>
            <div class="detailReviewList">
              <div class="detailReviewUserContainer">
                <span class="circleWithLetter">m</span>
                <span class="userReview">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Pariatur mollitia voluptatibus cum exercitationem aspernatur molestias, officia itaque, 
                  repellat ipsam, est possimus sequi natus iusto ex soluta? Natus, quasi? Similique, excepturi!
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>-->

