<div class="scrollSection">
  <div id="streetViewMap" #streetviewMap >
    map
  </div>
  <div id="streetViewPano" #streetviewPano>
    pano
  </div>
  <div *ngIf="selectedResto">
      <!-- 
      <div class="detailHeaderImage" [ngStyle]="{'background-image':'url('+ getUrlPhotoRequest(selectedResto) + ')'}">
      </div> 
      --> 
      <div class="detailHeaderSection" >
        <div class="detailHeaderResume">
          <div  class="sectionHeader">
            <h3 class="title">{{selectedResto.name}}</h3>
            <div class="sectionRating">
              <span class="ratingScore">{{selectedResto.rating}}</span>
              <ol class="ratingStars">
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 0, selectedResto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 1, selectedResto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 2, selectedResto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 3, selectedResto.name) + ')'}"></li>
                <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(selectedResto.rating, 4, selectedResto.name) + ')'}"></li>
              </ol>
              <span class="ratingNumber">{{selectedResto.user_ratings_total}}</span>
            </div>
          </div>
        </div>
      </div> 
      <div id="adressSection">
        <span id="adressInfo">{{selectedResto.vicinity}}</span>
      </div>
      <div id="userReviewSection">
        <button mat-flat-button>Rédiger un avis</button>
        <h3 class="reviewTitle">Tous les avis</h3>
        <div class="reviews" *ngFor = "let detail of details" ><!--ici ngFor let review of listReview-->
          <div class="authorInfo">
            <div class="authorInfoName">
              <!--
                <img [src]=getRandomAvatar() alt="authorAvatar">
              -->  
                <span class="authorName">{{detail.author_name}}</span>
            </div>
            <ol class="ratingStars" >
              <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(detail.rating, 0, selectedResto.name) + ')'}"></li>
              <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(detail.rating, 1, selectedResto.name) + ')'}"></li>
              <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(detail.rating, 2, selectedResto.name) + ')'}"></li>
              <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(detail.rating, 3, selectedResto.name) + ')'}"></li>
              <li class="ratingStar" [ngStyle]="{'background-image':'url('+ getBkgImgURL(detail.rating, 4, selectedResto.name) + ')'}"></li>
            </ol>
            <span class="timeDescription">{{detail.relative_time_description}}</span>
            <p class="authorReview"> {{detail.text}}
            </p>
          </div>
        </div>
      </div>
  </div>
</div>